body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #E6E8DA;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 20% auto;
}

.input-container-Data {
    margin-bottom: 30px;
    margin: 20px 58px 80px
}

.input-container-Data h2 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #000000;
    
}

.form-row {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-column:nth-child(2) {
    margin-top: 145px; /* Ajusta este valor según el desplazamiento deseado */
}

.input-container {
    margin: 30px 92px 9px 52px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #FF4372;
    background-color: #E6E8DA;
    outline: none;
}

.continue-button {
    background-color: #FF4372;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 75%;
    margin: 45px 0px 30px 0px;
    margin-left: -94%;
    transition: background-color 0.3s;
}
.continue-button:hover {
    background-color: #e91e84;
}
.required-asterisk {
    color: #e91e84;
}

