<div class="step-circles">
    <div class="step-circle active">1</div>
    <div class="step-circle active">2</div>
    <div class="step-circle">3</div>
</div>

<div class="container">
    <div class="form-row">
        <div class="form-column">
            <div class="input-container-Data">
                <h2>Datos personales</h2>
            </div>
            <div class="input-container">
                <label for="firstName">Nombres:</label>
                <input type="text" id="firstName" placeholder="Ingresa tu nombre">
            </div>
            <div class="input-container">
                <label for="lastName">Apellidos:</label>
                <input type="text" id="lastName" placeholder="Ingresa tu apellido">
            </div>
            <div class="input-container">
                <label for="phone">Celular:</label>
                <input type="text" id="phone" placeholder="Ingresa tu número de celular">
            </div>
            <div class="input-container">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" placeholder="Ingresa tu contraseña">
            </div>
        </div>
        <div class="form-column">
            <div class="input-container">
                <label for="department">Departamento:</label>
                <input type="text" id="department" placeholder="Ingresa tu departamento">
            </div>
            <div class="input-container">
                <label for="city">Ciudad:</label>
                <input type="text" id="city" placeholder="Ingresa tu ciudad">
            </div>
            <div class="input-container">
                <label for="address">Dirección:</label>
                <input type="text" id="address" placeholder="Ingresa tu dirección">
            </div>
            <div class="input-container">
                <label for="building">Torre/Apartamento/Conjunto:</label>
                <input type="text" id="building" placeholder="Ingresa la torre">
            </div>
            <button class="continue-button">Continuar</button>
        </div>
    </div>
</div>
