<section class="cards" id="card-section">
    <div class="cards__title">
        <h2>
            Let's play ⟡˙⋆
        </h2>
        <div class="cards__subtitle">
            <a>
                Productos recomendados
            </a>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>

    <!-- 

    <div class="d-flex justify-content-evenly">
        <div *ngFor="let product of products" class="card" data-id="{{product.id}}"
            (mouseenter)="product.isHovered = true" 
            (mouseleave)="product.isHovered = false">
            <img [src]="product.isHovered ? product.imgC : product.imgA" alt="...">
            <div class="card-body" *ngIf="!product.isHovered">
                <div class="card-body__info">
                    <a>
                        {{ product.name }}
                    </a>
                    <p> 
                        ${{ product.price }} 
                    </p>
                </div>
                <div class="card-body__tag">
                    <button data-id="{{product.id}}">
                        <i class="fa-regular fa-star"></i>
                    </button>
                </div>
            </div>
            <div class="card-body-hover" *ngIf="product.isHovered"  data-id="{{product.id}}">
                <div class="card-body__info-hover">
                    <a>
                        XS
                    </a>
                    <a>
                        S
                    </a>
                    <a>
                        M
                    </a>
                    <a>
                        L
                    </a>
                    <a>
                        XL
                    </a>
                </div>
                <div class="card-body__tag">
                    <button class="btn-view-hover">
                        <a routerLink="/"> {{ product.clotheCollection }} Collection </a>
                        <i class="fa-regular fa-star"></i>
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    <p-carousel 
    [value]="products" 
    [numVisible]="5" 
    [numScroll]="5" 
    [circular]="true"
    autoplayInterval="10000" 
    >
        <ng-template let-product pTemplate="item">
                <div class="m-3">

                    <div class="d-flex justify-content-evenly">
                        <div class="card" data-id="{{product.id}}"
                            (mouseenter)="product.isHovered = true" 
                            (mouseleave)="product.isHovered = false">
                            <img (click)="openProduct(product._id)" [src]="product.isHovered ? product.imgC : product.imgA" alt="...">
                            <div class="card-body" *ngIf="!product.isHovered">
                                <div class="card-body__info">
                                    <a>
                                        {{ product.name }}
                                    </a>
                                    <p> 
                                        ${{ product.price }} 
                                    </p>
                                </div>
                                <div class="card-body__tag">
                                    <button data-id="{{product.id}}">
                                        <i class="fa-regular fa-star"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body-hover" *ngIf="product.isHovered" data-id="{{product.id}}">
                                <div class="card-body__info-hover">
                                    <div>
                                        <a (mouseenter)="show()" (mouseleave)="show()">
                                            XS
                                        </a>
                                        <a (mouseenter)="show()" (mouseleave)="show()">
                                            S
                                        </a>
                                        <a (mouseenter)="show()" (mouseleave)="show()">
                                            M
                                        </a>
                                        <a (mouseenter)="show()" (mouseleave)="show()">
                                            L
                                        </a>
                                        <a (mouseenter)="show()" (mouseleave)="show()">
                                            XL
                                        </a>
                                    </div>
                                    <div>
                                        <span class="hover-text" [class.hidden]="cartTextHidden">
                                            Añade al carrito
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body__tag">
                                    <button class="btn-view-hover" (click)="goToCollecion(product.clotheCollection)">
                                        <a> {{ product.clotheCollection }} Collection </a>
                                        <i class="fa-regular fa-star"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </ng-template>
    </p-carousel>

</section>
