<div class="container">
    <p class="title"><strong>Tu información</strong></p>
    <p class="name">Juliana Ospina <span class="heart">♡</span></p><br> <br>
    <p>Calle 67#5-27</p>
    <p>Bogotá DC, Colombia</p>
    <p>*57 3239068680</p>
    <div class="line"></div>
    <div class="actions">
        <p>Predeterminado</p>
        <div>
            <a href="#">Editar</a> |
            <a href="#">Eliminar</a>
        </div>
    </div>
    <a href="#" class="add-button">Agregar nueva dirección</a>
</div>

