body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.step-circles {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
.step-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #E6E8DA; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #E6E8DA;
    margin: 0 50px;
}
.step-circle.active {
    background-color: #E6E8DA; 
    color: #000000;
    margin-left: 3%;
}
.container {
    background-color: #E6E8DA;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    margin-top: 100px;
    max-width: 90%;
    min-height: 60%;
}

.container p {
    text-align: left;
    font-weight: normal;
    letter-spacing: 0px;
    font-size: 16px;
    margin: 0;
}
.container__info {
    padding: 10px 20px;
    width: 50%;
}
.container__info-data {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
}
.container__info-data div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bold {
    font-weight: bolder !important;
}
.phone {
    color: #939393;
    text-align: end !important;
    font-size: 16px;
}
.container__info-emptydata p {
    margin-bottom: 20px;
}


.title {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    margin: 0px 0 60px;
}

.line {
    border-top: 2px solid #ff4372;
    width: 50%;
}
.actions {
    display: flex;
    padding: 10px 20px;
    width: 50%;
    justify-content: space-between;
}
.actions p {
    margin: 0;
    color: #000;
    font-size: 15px;
}
.actions div {
    width: 50%;
    text-align: right;
}
.actions a {
    color: #939393;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 15px;
}
.actions a:hover {
    color: #ff4372;
    font-weight: bolder;
    cursor: pointer;
}
.actions-selected {
    display: flex;
}
.actions-selected p {
    margin-left: 8px;
}
.heart {
    color:#ff4372 ;
}

.actions-button {
    width: 50%;
}
.add-button {
    border: solid 1px #ff4372;
    color: #ff4372;
    background: #e6e8da;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 40px auto 0;
    cursor: pointer;
}

.add-button:hover {
    border: solid 1px #e6e8da;;
    color: #e6e8da;
    background: #ff4372;
}
.required-asterisk {
    color: #ff4372
    ;
}

.hide {
    display: none;
}