<div class="container" *ngIf="userData">
    <div>
        <div class="container__info">
            <h3 class="title">
                Tus datos
                <span class="heart">⟡˙⋆</span>
            </h3>
            <div class="container__info-data" *ngIf="!emptyData">
                <div>
                    <p class="bold">
                        {{userData.name}} {{userData.lastName}} 
                    </p>
                    <p class="phone">
                        +57 {{userData.phone}}
                    </p>
                </div>
                <p>
                    {{userData.address}}, {{userData.detail}}
                </p>
                <p>
                    {{userData.city}}, {{userData.state}}
                </p>
            </div>
            <div *ngIf="emptyData" class="container__info-emptydata">
                <p>
                    Aún no tienes ningúna dirección guardada
                    <span class="heart">!!</span>
                </p>
            </div>
        </div>
        <div class="line">
        </div>
        <div class="actions" *ngIf="!emptyData">
            <div class="actions-selected">
                <span class="heart">♡</span>
                <p class="bold">
                    Predeterminado
                </p>
            </div>
            <div>
                <a (click)="toData()">
                    Editar
                </a> 
            </div>
        </div>
        <div class="actions-button" *ngIf="emptyData">
            <a (click)="toData()" class="add-button">
                Crear una nueva dirección
            </a>
        </div>
    </div>
</div>

