<div class="step-circles">
    <div class="step-circle active">1</div>
    <div class="step-circle">2</div>
    <div class="step-circle">3</div>
</div>
<div class="container">
    <div class="input-container">
        <label for="confirma">Confirma tu compra<span class="required-asterisk">*</span></label>
    </div>
    <a routerLink="/default" class="continue-button">Continuar</a>
</div>
<div class="custom-cursor">
    <p>Pasa el ratón sobre este texto para ver el cursor en forma de corazón.</p>
  </div>