body {
    cursor: url('/cursor/descarga-removebg-preview.png') 16 16, auto;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.custom-cursor {
    cursor: url('/removebg-preview.png') 16 16, auto;
  }
.container {
    background-color: #E6E8DA;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    text-align: center;
    margin-top: 41px;
    height: 75%;
}
.step-circles {
    display: flex;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 20px;
}
.step-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #E6E8DA; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #E6E8DA;
    margin: 0 50px;
}
.step-circle.active {
    background-color: #E6E8DA; 
    color: #000;
    margin-left: 3%;
}
p {
    color: #000;
    font-weight: bolder;
    margin-left: 9%;
    font-size: 20px;
}
.input-container {
    margin-bottom: 15px;
    text-align: left;
    
}
.input-container label {
    
    margin-bottom: 5px;
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    margin: 1% 0% 0% 3%;
}
.input-container input {
    width: 45%;
    padding: 10px;
    margin-left: 8%;
    border: none; 
    border-bottom: 2px solid #FF4372; 
    outline: none;
    background: transparent; 
    box-shadow: none; 
}
.continue-button {
    display: inline-block;
    background-color: #e91e63; 
    color: #E6E8DA;
    text-decoration: none;
    border: none;
    padding: 5px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 20px;
    width: 45%;
    margin-left: 50%;
    margin-top: 25%;
}
.continue-button:hover {
    background-color: #e91e63;
}
.continue-button:hover {
    background-color: #e91e84;
}
.required-asterisk {
    color: #e91e84;
}
.error-message {
    color: #e91e84;
    font-size: 14px;
    margin-top: 5px;
}
