<div class="step-circles">
    <div class="step-circle active">1</div>
    <div class="step-circle">2</div>
    <div class="step-circle">3</div>
</div>
<div class="container">
    <div class="input-container">
        <label for="email">Ingresa tu email<span class="required-asterisk">*</span></label>
        <p>Correo electronico<span class="required-asterisk">*</span></p>
        <input type="email" id="email" placeholder="Ingresa tu correo electronico">
        
    </div>
    <button class="continue-button">Continuar</button>
</div>

