body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    background-color: #E6E8DA;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    margin-top: 41px;
}
.step-circles {
    display: flex;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 20px;
}
.step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #E6E8DA; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #E6E8DA;
    margin: 0 50px;
}
.step-circle.active {
    background-color: #E6E8DA; 
    color: #000;
    margin-left: 3%;
}
p {
    color: #000;
    font-weight: bolder;
    margin-left: 9%;
}
.input-container {
    margin-bottom: 15px;
    text-align: left;
    
}
.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 30px;
    font-weight: bolder;
    margin: 20px 101px 80px;
}
.input-container input {
    width: 45%;
    padding: 10px;
    margin-left: 8%;
    border: none; 
    border-bottom: 2px solid #FF4372; 
    outline: none;
    background: transparent; 
    box-shadow: none; 
}
.continue-button {
    background-color: #FF4372; 
    color: #E6E8DA;
    border: none;
    padding: 5px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 20px;
    width: 45%;
    margin-right: 39%;
}
.continue-button:hover {
    background-color: #e91e63;
}
.continue-button:hover {
    background-color: #e91e84;
}
