
.navbar {
    height: 95px;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    z-index: 1;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.6s;
    width: 100%;
    color: black;
}

.navbar.scrolled {
    background-color: #e6e8da;
    height: 65px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
}

.navbar img {
    height: 36px;
    cursor: pointer;
}
.navbar_buttons {
    margin-left: 50%;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #ff4372;
    font-weight: bolder;
    margin: 0 15px;
    transition: color 0.3s, background-color 0.3s, padding 0.3s, border-radius 0.3s;
    cursor: pointer;
}

.navbar a:hover {
    color: #fffefe;
    background-color: rgb(255, 64, 109);
    padding: 9px;
    border-radius: 5px;
}

.icon {
    font-weight: bolder;
    color: #ff4372;
}

.navbar_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 75px 0 0;
}

.navbar_icon img {
    height: 50px;
    width: auto;
    margin-right: 8px;
}

.navbar__menu {
    justify-self: center;
    font-size: medium;
    font-weight: 600;
}

.buttons {
    margin-left: 20%;
}

.hidden {
    display: none;
}

.navbar_buttons-User {
    display: block;
    background: #e6e8da;
    height: 108px;
    width: 15%;
    border-radius: 10px;
    position: absolute;
    right: 5%;
    top: 90%;
    padding: 1%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
}

.navbar_buttons-User ul {
    display: grid;
    grid-template-rows: 1fr .4fr 1fr;
    margin: 0;
}

.navbar_buttons-User li {
    justify-self: center;
    margin: 2%;
}

.horizontal-bar {
    width: 90%;
    height: 1px;
    background-color: #ff4372;
    z-index: 1000;
    margin: 7px auto;
}


.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #ff4372;
    grid-column: 3;
    justify-self: center;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px; 
    height: auto; 
    background-color: #ffffffcf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); 
    padding-top: 60px; 
}


.mobile-menu.active {
    transform: translateX(0); 
}

.mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.mobile-menu li {
    margin: 10px 0; 
}

.mobile-menu a {
    display: block;
    padding: 15px;
    font-size: 18px;
    color: #ff4372;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.mobile-menu a:hover {
    background-color: rgb(255, 64, 109);
    color: #fffefe;
}


@media (max-width: 767px) {
    .navbar_menu {
        display: none;
    }

    .navbar_buttons {
        display: none;
    }

    .navbar_buttons-User {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .mobile-menu {
        display: block;
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}
