
.navbar {
    height: 97px;
    top:0%;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    align-items: center;
    z-index: 1;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.6s;
    width: 100%;
}
.navbar.scrolled {

    background-color: #e6e8da;
    height: 60px;
}



.navbar img {
    height: 36px;
    cursor: pointer;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}
.navbar a {
    text-decoration: none;
    color: #ff4372;
    font-weight: bolder;
    margin: 0 15px;
    transition: color 0.3s, background-color 0.3s, padding 0.3s, border-radius 0.3s;
    cursor: pointer;
}
.navbar a:hover {
    color: #fffefe;
    background-color: rgb(255, 64, 109); 
    padding: 9px; 
    border-radius: 5px; 

}
.icon {
    font-weight: bolder; 
    color: #ff4372;
}
.navbar_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 75px 0px 0px;
}
.navbar_icon img {
    height: 50px; 
    width: auto; 
    margin-right: 8px; 
}
.navbar__menu {
    justify-self: center;
    font-size: medium;
    font-weight: 600;
    margin-left: 34px;
}
#menu {
    margin-left: 15%;
}
.buttons {
    margin-left: 20%;
}

.hidden {
    display: none;
}