<div class="container">
    <!-- Secciones de productos -->
    <div class="sections">
        <div class="item" (click)="filterCategory('CAMISETAS/TOPS')">
            <div class="circle">
                <img src="assets-categorias/categorias-camisetas.png" alt="Camisetas">
            </div>
            <div class="label">CAMISETAS/TOPS</div>
        </div>
        <div class="item" (click)="filterCategory('HOODIES')">
            <div class="circle">
                <img src="assets-categorias/categorias-hoodie.png" alt="Hoodies">
            </div>
            <div class="label">HOODIES</div>
        </div>
        <div class="item" (click)="filterCategory('VESTIDOS')">
            <div class="circle">
                <img src="assets-categorias/categorias-vestidos.png" alt="Vestidos">
            </div>
            <div class="label">VESTIDOS</div>
        </div>
        <div class="item" (click)="filterCategory('SWEATERS')">
            <div class="circle">
                <img src="assets-categorias/categorias-sweater.png" alt="Sweaters">
            </div>
            <div class="label">SWEATERS</div>
        </div>
    </div>
</div>
