@import "primeflex/primeflex.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    
}

body {
    background: black !important;
}


/* Palette */
.alabaster {
    color: #e6e8da;  
}
.vista-blue {
    color: #8b95c9;
}
.bright-pink {
    color: #ff4372;
}
.black {
    color: black;
}

/* Fonts */
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hipnouma';
    src: url('/assets/fonts/Hipnouma.ttf') format('truetype');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.p-carousel-container {
    margin: 0 1.8%;
}
button.p-link {
    background-color: transparent;
    color: #e6e8da;
}