<section class="sing-up">
    <div class="sing-up__title">
        <h2>
            Iniciar sesión
        </h2>
        <p>
            ¿Aún no tienes cuenta? <a href="">Regístrate</a>
        </p>
    </div>
    <div class="sing-up__form">
        <form action="" id="form-sing-up">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder>
            <br>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required placeholder>
            <a href="">¿Olvidaste tu contraseña?</a>
            <button type="submit" value="send">
                Iniciar sesión
            </button>
            <p>
                O conectate con:
            </p>
        </form>
    </div>
    <div class="sing-up__logos">
        <a href="https://www.google.com/" target="_blank"><i class="fa-brands fa-google"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </div>
</section>