body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    background-color: #E6E8DA;
    padding: 60px;
    border-radius: 15px;
    width: 90%;
    max-width: 90%;
    margin-top: 100px;
    text-align: center;
}

.payment-options {
    margin-bottom: 90px 0px 30px 0px;
}
.payment-options h2 {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    margin: 0px 0 25px;
}
img {
    height: 100px;
    
}

.payment-option {
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 2%;
    transition: border-color 0.3s;
    font-size: 24px;
    margin: 7% 25% 5%;
}

.payment-option input[type="radio"] {
    margin-right: 10px;
}

.payment-option:hover {
    border-color: #FF4372;
}

.payment-option input[type="radio"]:checked + label {
    color: #FF4372;
    font-weight: bolder;
}

.continue-button {
    border: solid 1px #ff4372;
    color: #ff4372;
    background: #e6e8da;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    width: 50%;
    margin: 20px auto 0;
    font-weight: 600;
    font-size: medium;
}

.continue-button:hover {
    border: solid 1px #e6e8da;;
    color: #e6e8da;
    background: #ff4372;
}
.required-asterisk {
    color: #ff4372;
}
