
.card {
    width: 15rem;
    margin-top: 40px;
    padding: 20px 10px 10px;
    border-radius: 0;
    background: #e6e8da;
    border: 1px solid #ff4372;
    border-radius: 12px;
    transition: all .3s;
}
.card:hover {
    transform: scale(1.05);
    transition: all .5s;
}
.card img {
    padding: 10px;
    transition: opacity 1s;
    cursor: pointer;
}
.card-body {
    display: grid;
    grid-template-columns: 2.5fr .5fr;
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #ff4372;
    padding: 0 10px;
}
.card-body a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.card-body a:hover {
    color: #ff4372;
}
.card-body button {
    height: 25px;
    width: 30px;
    padding: 2px;
    border: none;
    border-radius: 100px;
    color: #e6e8da;
    background: #ff4372;
    position: absolute;
    top: 310px;
}
.card-body p {
    margin-bottom: 8px;
}
.card-body__tag {
    align-self: center;
}


.cards__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 0 10%;
}

.card-body-hover {
    display: grid;
    grid-template-columns: 2.5fr .1fr;
    padding: 0;
    margin-top: 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ff4372;
    padding: 0 10px;
}
.card-body__info-hover {
    text-align: center;
}
.card-body__info-hover button {
    margin: 5%;
    color: #ff4372;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    background: transparent;
    border: none;
}
.card-body__info-hover span {
    display: block;
    background: #939393;
    height: 17px;
    width: 45%;
    font-size: 10px;
    color: #e6e8da;
    align-content: center;
    text-transform: none;
    position: absolute;
    left: 27%;
    border-radius: 10px;
    margin-top: 2px;
}
.btn-view-hover {
    height: 25px;
    width: 40%;
    padding: 2px;
    border: none;
    border-radius: 100px;
    color: #e6e8da;
    background: #ff4372;
    position: absolute;
    top: 310px;
    left: 50%;
    animation: expandWidth 0.7s ease-in-out forwards;
}
@keyframes expandWidth {
    from {
        width: 40%; 
        left: 50%;  
    }
    to {
        width: 80%; 
        left: 10%;  
    }
}

.btn-view-hover a {
    position:absolute;
    top: 5px;
    left: 10px;
    margin: 0%;
    color: #e6e8da;
    text-decoration: none;
    font-weight: bolder;
    text-align: left;
}
.btn-view-hover i {
    position: absolute;
    top: 7px;
    right: 8px;
    animation: rotateIcon .7s linear forwards;
}
@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(145deg); 
    }
}

.hidden {
    display: none
}