<footer>
    <div class="footer__icon">
        <img src="img/icon-wb.png" alt="Pixel-pink-icon">
        <img src="img/icon-pink.png" alt="Pixel-pink-icon">
    </div>
    <div class="footer__info">
        <h4>
            Contáctanos
        </h4>
        <ul>
            <li>soporte&#64;pixel-pink.co</li>
            <li>+57 3239068680</li>
        </ul>
    </div>
    <div class="footer__info">
        <h4>
            Conócenos
        </h4>
        <div class="footer__social">
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.tiktok.com/" target="_blank">
                <i class="fa-brands fa-tiktok"></i>
            </a>
        </div>
    </div>
    <div class="footer__info">
        <h4>
            Explora
        </h4>
        <ul>
            <li><a routerLink="/categorias">
                Ropa
            </a></li>
            <li><a routerLink="/categorias">
                Accesorios
            </a></li>
        </ul>
    </div>
</footer>
