

<div class="container">
    <div class="form-row">
        <div class="form-column">
            <div class="input-container-Data">
                <h2>Nueva direccion</h2>
            </div>
            <div class="input-container">
                <label for="firstName">Nombres<span class="required-asterisk">*</span></label>
                <input type="text" id="firstName" placeholder="Ingresa tu nombre">
            </div>
            <div class="input-container">
                <label for="lastName">Apellidos<span class="required-asterisk">*</span></label>
                <input type="text" id="lastName" placeholder="Ingresa tu apellido">
            </div>
            <div class="input-container">
                <label for="phone">Celular<span class="required-asterisk">*</span></label>
                <input type="text" id="phone" placeholder="Ingresa tu número de celular">
            </div>
            <div class="input-container">
                <label for="password">Contraseña<span class="required-asterisk">*</span></label>
                <input type="password" id="password" placeholder="Ingresa tu contraseña">
            </div>
        </div>
        <div class="form-column">
            <div class="input-container">
                <label for="department">Departamento<span class="required-asterisk">*</span></label>
                <input type="text" id="department" placeholder="Ingresa tu departamento">
            </div>
            <div class="input-container">
                <label for="city">Ciudad<span class="required-asterisk">*</span></label>
                <input type="text" id="city" placeholder="Ingresa tu ciudad">
            </div>
            <div class="input-container">
                <label for="address">Dirección<span class="required-asterisk">*</span></label>
                <input type="text" id="address" placeholder="Ingresa tu dirección">
            </div>
            <div class="input-container">
                <label for="building">Torre/Apartamento/Conjunto<span class="required-asterisk">*</span></label>
                <input type="text" id="building" placeholder="Ingresa la torre">
            </div>
            <a routerLink="/default" class="continue-button">Continuar</a>
        </div>
    </div>
</div>
