body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.required-asterisk {
    color: #ff4372;
}

.container {
    background-color: #E6E8DA;
    padding: 60px;
    border-radius: 15px;
    width: 90%;
    max-width: 90%;
    margin-top: 100px;
}

.input-container-Data {
    margin: 20px 60px;
}
.input-container-Data h2 {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    margin: 0px 0 25px;
}
.input-container-Data p {
    color: #ff4372;
    font-size: 14px;
    position: relative;
    top: -20px;
    margin: 0;
}


.form-row {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-container {
    margin: 30px 92px 9px 52px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 10px;;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ff4372;
    background-color: #E6E8DA;
    outline: none;
    font-size: 16px;
}

.continue-button {
    border: solid 1px #ff4372;
    color: #ff4372;
    background: #e6e8da;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 75%;
    margin: 45px 0px 30px 0px;
    margin-left: -94%;
    font-weight: 600;
    font-size: medium;
}
.continue-button:hover {
    border: solid 1px #e6e8da;;
    color: #e6e8da;
    background: #ff4372;
}
.heart {
    color:#ff4372 ;
}


