.utility-bar {
    padding: 0 35%;
    height: 20px;
    background: #ff4372;
    color: #e6e8da;
    font-size: small;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    z-index: 5;

    width: 100%;
    overflow: hidden;
    position: relative;
}

.utility-bar__text {
    position: absolute;
    top: 1px;
    white-space: nowrap;
    animation: marquee linear infinite;
}

@keyframes marquee {
    0% {
        left: 100%;
    }
    100% {
        left: -30%;
    }
}
